
<!DOCTYPE html>
<html>

<head>
    <title>Alyson Wright</title>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
        <!-- Navbar goes here -->
        <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
            <div class="navbar">
                <div class="container">
                    <a href="/" class="btn btn-info">Home</a>
                    <!-- <a href="/projects" class="btn btn-info">Projects</a>
                    <a href="/blog" class="btn btn-info">Blog</a> -->
                    <a href="register" class="btn btn-info">Register</a>
                    <a href="#" class="btn btn-info">Login</a>
                </div>
            </div>
        </nav>
        <!-- Page Layout here -->
        <div class="container flow-text">
        <div class="row">
            <div class="col s12 m4 l2 z-depth-5" id="side">
                <ul>
                    <a name="table"></a>
                    <li><a href="#Eliz">Post 1</a></li>
                    <div class="divider"></div>
                    <li><a href="#Aly">Post 2</a></li>
                    <div class="divider"></div>
                    <li><a href="#Pet">Post 3</a></li>
                    <div class="divider"></div>
                    <li><a href="#Bren">Post 4</a></li>
                    <div class="divider"></div>
                    <li><a href="#Tuf">Post 5</a></li>
                    <div class="divider"></div>
                    <li><a href="#Media">Post 6</a></li>
                    <div class="divider"></div>
                </ul>
            </div>
            <div class="col s12 m12 l10 z-depth-5" id="top">

            <!--Rotating Text-->
            <section class="rw-wrapper">
            <h3 class="rw-sentence" id="blog">
            <span>Alyson Writes:</br></br> Musings on </span>
            <div class="rw-words rw-words-1">
                <span>Travel</span>
                <span>Tech</span>
                <span>Initiatives</span>
                <span>Travel</span>
                <span>Tech</span>
                <span>Initiatives</span>
        </div>
    </h3>
</section>
                <div class="section">
                <h3><a name="Aly">Post 1</a></h3>
                <p>Text here</p>
                 <h6><a href="#table">Return to Top</a></h6>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h3><a name="Aly">Post 2</a></h3>
                    <p>Text here</p>
                 <h6><a href="#table">Return to Top</a></h6>
                </div>
                <div class="divider"></div>
                <div class="section">
                <h3><a name="Aly">Post 3</a></h3>
                    <p>Text here</p>
                 <h6><a href="#table">Return to Top</a></h6>
                </div>
                <div class="divider"></div>
                <div class="section">
                <h3><a name="Aly">Post 4</a></h3>
                    <p>Text here</p>
                 <h6><a href="#table">Return to Top</a></h6>
                </div>
                <div class="divider"></div>
                <div class="section">
                <h3><a name="Aly">Post 5</a></h3>
                    <p>Text here</p>
                 <h6><a href="#table">Return to Top</a></h6>
                </div>
                <div class="divider"></div>
                <div class="section">
                <h3><a name="Aly">Post 6</a></h3>
                    <p>Text here</p>
                 <h6><a href="#table">Return to Top</a></h6>
                </div>
                <div class="divider"></div>
                <!-- <div class="divider"></div>
                <div class="section">
                    <p>text here</p>
                </div> -->
            </div>
        </div>
    </div>
            <!--Parallax-->
            <!--<div class="parallax-container">
                <div class="parallax"><img src="tulips.jpg"></div>
            </div>-->
            <div class="container flow-text" >
            <div class="row">
           <!--  <div class="section scrollspy" id="work"> -->
                 <div class="col s12 m10 l12 z-depth-5" id="projects">
                    <h3 class="header text_b">Projects</h3>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="../images/sites.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Sites<i class="mdi-navigation-more-vert right"></i></span>
                                    <p><a href="projects">Project/Site Links</a></p>
                                </div>
                                <!-- <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Sites<i class="mdi-navigation-close right"></i></span>
                                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="../images/games.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Games<i class="mdi-navigation-more-vert right"></i></span>
                                    <p><a href="game">Game Zone</a></p>
                                </div>
                                <!-- <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Games<i class="mdi-navigation-close right"></i></span>
                                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="../images/writes.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Blog<i class="mdi-navigation-more-vert right"></i></span>
                                    <p><a href="blog">Alyson Writes</a></p>
                                </div>
                                <!-- <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Blog<i class="mdi-navigation-close right"></i></span>
                                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <h6><a href="#navbar">Return to Top</a></h6>
                 </div>

            </div>
        </div>
       <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-6 text-center">
                        <section>
                                <a href="https://www.linkedin.com/in/alysonwright" target="_blank">
                                <img border="0" alt="LinkedIn" src="https://cdn3.iconfinder.com/data/icons/free-sketch/283/04_linkedin-128.png" width="50" height="50"></a>
                                <a href="https://www.facebook.com/alyson.wright.7" target="_blank">
                                <img border="0" alt="Facebook" src="https://cdn3.iconfinder.com/data/icons/free-sketch/283/02_facebook-128.png" width="50" height="50"></a>
                                <a href="https://twitter.com/EmeraldAly" target="_blank">
                                <img border="0" alt="Twitter" src="https://cdn3.iconfinder.com/data/icons/free-sketch/283/01_tweeter-128.png" width="50" height="50"></a>
                                <a href="https://github.com/emeraldaly" target="_blank">
                                <img border="0" alt="Github" src="../images/github.png" width="50" height="50"></a>
                        </section>
                    </div>
                </div>
            </div>
        </footer>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/validation.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
    <script src="js/media.js"></script>
</body>

</html>